cabarchive
certifi
cffi
chardet
charset-normalizer
Click
colorama
cryptography
cx_Freeze
cx_Logging
Deprecated
docopt
filelock
idna
lief
packaging
pipreqs
pycparser
pycryptodome
PyGithub
PyJWT
PyNaCl
pyodbc
pyperclip
python-dotenv
python-dotenv-run
requests
setuptools
striprtf
typing_extensions
urllib3
wrapt
yarg
